html, body {
  background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6, p, li {
  color: #000000;
  font-family: "Helvetica Heue", Helvetica;
}

h1 {
  font-size: 50px
}

code {
  color: #000000;
  font-family: "Menlo Regular", Menlo, Courier, Monaco;
  overflow: scroll;
}

blockquote {
  font-style: normal;
  font-size: 16px;
  margin-left: 32px;
  font-family:"Helvetica Heue", Helvetica;
  border-left: 4px solid #CCC;
  padding-left: 8px;
}

a {
  text-color: #0000fd;
  text-decoration: none;
}

center {
  text-align: center;
  display: block;
  margin-left: 25%;
  margin-right: 25%;
  left: 25%;
  right: 25%;
}
  
logo {
  font-size: 100px;
  width: 100%;
}
  
pre {
  background-color: #F5F5F5;
  white-space: pre-wrap;
  word-wrap: break-word;
}

img {
  max-width: 100%;
  height: auto;
}
